N8N_BASE_URL=https://rh-n8n-u48275.vm.elestio.app
SIMULATOR_WEBHOOK_PATH=chatwoot/de-paseo-en-fincas/inbound

SUPABASE_DB_HOST=aws-0-us-west-2.pooler.supabase.com
SUPABASE_DB_PORT=6543
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.qoeigqytlyjnpvxacrht
SUPABASE_DB_PASSWORD=replace_me

INVENTORY_SHEET_DOCUMENT_ID=1AHeDsZin_U5ZzfAB50i7JZvOoJcP9uAM71RRZgnDlgo
INVENTORY_SHEET_TAB_NAME=fincas_inventory_ajustada_real

SIMULATOR_PORT=3101
